@page
@model IndexModel
@{
    ViewData["Title"] = "Customers List";
}

<h1>Customers List</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.first_name</td>
                <td>@customer.last_name</td>
            </tr>
        }
    </tbody>
</table>

<h1>Products List</h1>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.SpecifiedProduct != null)
        {
            <tr>
                <td>@Model.SpecifiedProduct.category</td>
                <td>@Model.SpecifiedProduct.title</td>
            </tr>
        }
    </tbody>
</table>


<h1>Customers List Starting with N</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.CustomersStartingWithN)
        {
            <tr>
                <td>@customer.first_name</td>
                <td>@customer.last_name</td>
            </tr>
        }
    </tbody>
</table>